* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fjalla One", sans-serif;
}

body {
    background-color: #101c3a;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem; /* organiza o espaçamento */
    text-align: center;
}

.title {
    color: #f2deb0;
    font-size: 2rem;
}

.tempo {
    color: #f2deb0;
    font-size: 3.5rem;
    transition: 0.4s ease;
}

.botao {
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    background-color: #f2deb0;
    color: #101c3a;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s;
}

.botao:enabled {
    opacity: 1;
}

.botao:enabled:hover {
    transform: scale(1.05);
}

.container_video {
    margin-top: 1rem;
}

.video {
    width: 240px;
    height: 240px;
    border-radius: 12px;
}
